@"
# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment files
.env
.env.*

# VS Code
.vscode/

# Local training dataset
word_level/data/

# Extra trained models not needed for deployment
word_level/models/bilstm_model.pt
word_level/models/stgcn_model.pt
word_level/models/stgcn_standard_model.pt
word_level/models/stgcn_weighted_model.pt
"@ | Set-Content .gitignore
